<section class="about-section">
  <div class="about-container">
    
    <!-- Bloc Image (À gauche) -->
    <div class="about-img-box">
      <img src="img/personne.png" alt="Photo de profil">
    </div>

    <!-- Bloc Contenu Texte (À droite) -->
    <div class="about-content">
      <h2 class="heading">À Propos de <span>Moi</span></h2>
      
      
      <!-- Effet de machine à écrire -->
      <p class="description">
        Ingénieur en Génie des Systèmes Numériques, je combine une solide expertise en architecture logicielle backend avec une maîtrise avancée de l'intelligence artificielle et du traitement de données.

Spécialisé dans les technologies Spring Boot, Docker et Flutter, j'applique rigoureusement les principes SOLID pour concevoir des applications modulaires, scalables et hautement sécurisées. Mon expérience m'a amené à piloter le développement de modules complexes pour des systèmes d'envergure nationale, incluant la gestion de flux financiers, le calcul dynamique d'itinéraires et l'intégration d'APIs critiques.

Passionné par l'innovation, je déploie des solutions d'IA concrètes, allant du Prompt Engineering à la spécialisation de LLMs contextuels et à la vision par ordinateur (YOLO). Distingué par le premier prix au Climathon Kaffrine 2026, je mets ma rigueur technique et mon esprit d'équipe au service de projets ambitieux à fort impact.
      </p>

      
    </div>

  </div>
</section>