<section class="services-section" id="services">
  
  <div class="services-header">
    <h2 class="heading">Mes <span>SERVICES</span></h2>
    <p class="sub-heading">Des solutions logicielles précises, scalables et dotées d'intelligence.</p>
  </div>

  <div class="services-grid">
    
    @for (service of listeServices; track service.titre) {
      <div class="service-card">
        
        <div class="card-visual">
          @if (service.isImage) {
            <img [src]="service.imageOrIcon" [alt]="service.titre" class="service-img">
          } @else {
            <i [class]="service.imageOrIcon" class="service-icon"></i>
          }
        </div>

        <div class="card-content">
          <h3>{{ service.titre }}</h3>
          <p class="description">{{ service.description }}</p>
        </div>

        <div class="card-techs">
          @for (tech of service.techs; track tech) {
            <span>{{ tech }}</span>
          }
        </div>

      </div>
    }

  </div>
</section>