<header class="header">
    <a [routerLink]="['/']" fragment="about" class="logo" (click)="isMenuOpen = false">Portfolio<span>.</span></a>

    <div id="menu-icon" (click)="isMenuOpen = !isMenuOpen" [class.active]="isMenuOpen">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav class="navbar" [class.open]="isMenuOpen">
        @for (item of menus; track item.nom) {
            <a [routerLink]="['/']" 
               [fragment]="item.url" 
               routerLinkActive="active" 
               (click)="isMenuOpen = false">
               {{item.nom}}
            </a>
        }
    </nav>
</header>