<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> -->

<header class="header">
    <a href="#" class="logo">Portfolio<span>.</span></a>

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="fas fa-bars" id="menu-icon"></label>

    <nav class="navbar">
        @for (item of menus; track item.nom) {
            <a [routerLink]="['/']" [fragment]="item.url" routerLinkActive="active">{{item.nom}}</a>
        }
    </nav>
</header>